/* Style sheet bot statistics backend */


.mod_botstatistics_be_table_max { 
  margin: 2px 0 !important;
  width: 100%;
  padding: 0;
}

.mod_botstatistics_be_table_max td { 
  height:18px;
  padding-left:6px !important;
  padding-right:6px !important;
}

.mod_botstatistics_be_version {
	
}

.mod_botstatistics_be_table_version { 
  margin: 2px 0 !important;
  width: 100%;
  padding: 0;
}

.mod_botstatistics_be_table_version td {
  height:18px;
  padding-left:6px !important;
  padding-right:6px !important;
}